<div class="social">
	<h4>
    {% if site.github %}
	  <a href="https://github.com/{{ site.github }}" title="GitHub"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.academia %}
	  <a href="{{ site.academia }}" title="Academia"><i class="fa fa-font"></i></a>
    {% endif %}
    {% if site.google_scholar %}
	  <a href="{{ site.google_scholar }}" title="Google Scholar"><i class="fa fa-google"></i></a>
    {% endif %}
    {% if site.orcid %}
	  <a href="{{ site.orcid }}" title="Orcid"><i class="fa fa-info-circle"></i></a>
    {% endif %}
    {% if site.email %}
	  <a href="mailto:{{ site.email}}" title="Email"><i class="fa fa-envelope"></i></a>
    {% endif %}

    {% if site.twitter %}
	  <a href="https://twitter.com/{{ site.twitter }}" title="Twitter"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
	  <a href="https://linkedin.com/in/{{ site.linkedin }}" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
	  <a href="https://stackoverflow.com/{{ site.stackoverflow }}" title="Stack Overflow"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}
	</h4>
</div>
